.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width:50%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upper-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image{
  width:92px;
  height: 92px;
  border-radius: 50%;
  border: 3px solid #A3A3A3;
}
.image img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
.image label{
    position: relative;
    bottom: 0%;
    right: 0%;
    padding:2px;
}
.camera{
    position: absolute;
    bottom: 47%;
    
    padding:2px;
    border-radius: 6px;
    cursor: pointer;
}